@media only screen and (max-width: 1400px) {
    .nav-item a {
        display: inline-block;
        padding: 4px 4px;
        font-size: 13px;

    }
}



@media(max-width:1199px) {
    section.venetian {
        padding: 44px 0;
    }

    section.gambler {
        padding: 40px 0;
    }

    .footer-links ul li a {

        font-size: 15px;
        padding: 0 0 0 12px;

    }
}

@media only screen and (max-width: 991px) {
    .features {
        flex-direction: column;
        padding: 50px;
    }

    /* MOBILE HEADINGS */

    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    /* MOBILE NAVIGATION */

    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 67px;
        background-color: #2e0327;
        width: 100%;
        height: 100vh;
        transform: translate(-109%);
        text-align: center;
        overflow: hidden;
        left: 0;
        transition: all 0.4s ease;
    }

    .navbar li {
        padding: 15px;
    }

    .navbar li:first-child {
        margin-top: 50px;
    }

    .navbar li a {
        font-size: 1rem;
    }

    .menu-toggle,
    .bar {
        display: block;
        cursor: pointer;
    }

    .mobile-nav {
        transform: translate(0%) !important;
    }

    footer {
        text-align: center;
    }

    .footer-logo ul {
        display: flex;
        justify-content: center;
    }

    .footer-links ul {
        justify-content: center;
        flex-direction: column;
        margin-top: 41px;

    }

    .footer-links ul li a {
        padding: 10px 0;
        display: block;
    }

    .bnr-text h1 {
        font-size: 25px;
    }

    section.bnr {

        padding: 80px 0 40px;

    }

    body#macau .venetian-inner .row .col-lg-4:nth-child(2),
    body#macau .venetian-inner .row .col-lg-4:nth-child(3) {
        margin-top: 40px;
    }

    div#venetian .row .col-lg-4:nth-child(2),
    div#venetian .row .col-lg-4:nth-child(3) {
        margin-top: 40px;
    }

    #las-vegas .gambler-iiner p {
        font-size: 16px;
    }

    .gambler-iiner p {
        font-size: 16px;

    }

    .destinations-wrapper .row .col-lg-4:nth-child(3) {
        margin-top: 40px;
    }

    section.las-vegas.bnr {
        background-position: center;
    }

    section.las-vegas.macau {

        background-position: center;
    }

    section.las-vegas.monte-carlo {
        background-position: center;
    }

    section.las-vegas.atlantic-city {
        background-position: center;
    }

    section.las-vegas.canada {

        background-position: center;
    }

    section.las-vegas.newzea {

        background-position: center;
    }

    section.las-vegas.privacy {
        background-position: center;
    }

    section.las-vegas.terms-conditions {
        background-position: center;
    }




}

@media(max-width:767px) {

    .destinations-wrapper .row .col-lg-4:nth-child(2),
    .destinations-wrapper .row .col-lg-4:nth-child(3),
    .destinations-wrapper .row .col-lg-4:nth-child(4) {
        margin-top: 40px;
    }

    .bnr-iner .row {

        flex-direction: column-reverse;
    }

    .accordion {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
    }
}